/*Question Page Style*/

body {
	background-image: url(../images/crest-watermark.png);
	background-repeat: no-repeat;
	background-size: 800px;
	background-position: center;
	position: relative;
	max-width: 800px;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	margin-top: 10px;
	border: 2px solid black;
	border-radius: 10px
}

.masthead {
	background-image: url(../images/red-devil.png), 
		url(../images/red-devil.png);
	background-size: 85px;
	background-position: left, right;
	background-repeat: no-repeat;
	text-align: center;
	margin: 10px;
	height: 120px;
	display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
	font-family: 'Aldrich', sans-serif;
	font-size: 20px;
	border: 1px solid none;
}

.caveat {
	font-family: 'Aldrich', sans-serif;
	font-size: 15px;
}

.question-container {
	margin: 10px;
	height: 620px;
	font-family: 'Aldrich', sans-serif;
	border: 1px solid none;
}

.question-number, .question {
	width: 80%;
	margin: 0 auto;
	margin-top: 15px;
	border: 1px solid none;
}

.question {
	margin-bottom: 20px;
	font-size: 20px;
}

.answers-container {
	list-style: none;
	margin: 10px;
	padding-right: 40px;
	columns: 2;
	height: 500px;
	border: 1px solid none;
}

.pic1, .pic2, .pic3, .pic4 {
	background-repeat: no-repeat;
	background-size: cover;
	height: 45%;
	padding-top: 10px;
	padding-left: 10px;
	font-size: 20px;
	color: white;
}

.pic1, .pic2, .pic3, .pic4:hover {
	cursor: pointer;
}

.pic2, .pic4 {
	margin-top: 5px;
}

.pic1 {
	background-image: url(../images/matt-busby.jpeg);
}

.pic2 {
	background-image: url(../images/louis-van-gaal.jpeg);
}

.pic3 {
	background-image: url(../images/ryan-giggs.jpeg);
}

.pic4 {
	background-image: url(../images/alex-ferguson.jpeg);
}

.submit {
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: -50px;
	padding-top: 10px;
	text-align: center;
	border: none;
	font-family: 'Aldrich', sans-serif;
	font-size: 30px;
	background-color: #FFFFFF;
	border: 2px solid black;
	border-radius: 5px;
}

.submit:hover {
	background-color: #DA020E;
}

@media only screen and (max-width: 500px) {
 	.pic1, .pic2, .pic3, .pic4 {
 		height: 25%;
 	}
}

/*Hidden Answer Page Style*/

.answer-overlay {
	width: 85%;
	height: 100%;
	top: 150px;
	padding: 20px;
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: justify;
	background: #FFFFFF;
	border: 2px solid black;
	border-radius: 10px;
	display: none;
}

.answer {
	text-align: center;
	font-family: 'Aldrich', sans-serif;
	font-size: 25px;
}

.answer-info, .score {
	font-family: 'Aldrich', sans-serif;
	font-size: 20px;
	line-height: 25px;
}

.next-question {
	display: block;
	margin: 0 auto;
	padding-top: 10px;
	text-align: center;
	border: none;
	font-family: 'Aldrich', sans-serif;
	font-size: 30px;
	background-color: #FFFFFF;
	border: 2px solid black;
	border-radius: 5px;
}

.next-question:hover {
	background-color: #DA020E;
}



